{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
<div class="content container">

    {{ $root := . }}
    {{ $page := (index .Data.Pages 0) }}

    {{ if eq .Data.Singular "category" }}

        <h1>Posts in  
            <span class="post-category" style="text-transform: capitalize">
                {{ .Data.Term }} Category
            </span>
        </h1>

        {{ partial "posts-list-with-tags.html" . }}

    {{ else if eq .Data.Singular "tag" }}

        <h1>Posts with 
            <span class="tag" style="text-transform: capitalize">
                # {{ .Data.Term }}
            </span>
        </h1>

        {{ partial "posts-list.html" . }}

    {{ end }}

</div>
{{ partial "footer.html" . }}
